<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:insert="~{partions/head}">
    <title>Index</title>
</head>
<body>
<div th:insert="~{partions/navbar}"></div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
        <div class="col-9">
            <div layout:fragment="contentOfSite"></div>
        </div>
    </div>
</div>
</body>
<div th:insert="~{partions/footer}"></div>
</html>