<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{partions/main}"
>
<div layout:fragment="contentOfSite">
    <form th:action="@{/posts/edit}" method="post">
        <div class="row mt-5">
                <input type="hidden" class="form-control" name="id" th:value="${post_id}">
            <div class="mb-3">
                <label for="title" class="form-label">TITLE:</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${post.title}" placeholder="Insert title">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Example textarea</label>
                <textarea class="form-control" name="content" id="content" rows="3" th:text="${post.content}"></textarea>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Choose Author</label>
                <select class="form-select" name="new_author_id" id="author">
                    <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.username}" th:selected="${post.author.id == author.id}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</html>