<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{partions/main}"
>
<div layout:fragment="contentOfSite">
    <form th:action="@{/login}" method="post">
        <div class="row mt-5">
            <div class="mb-3">
                <label for="title" class="form-label">User:</label>
                <input type="text" class="form-control" id="title" name="username" placeholder="Insert username">
                <p th:if="${param.error}"> ERRORR!!!!</p>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <p th:if="${param.logout}"> You logged out</p>

    <a th:href="@{/registration}">NEW?</a>
</div>
</html>
