<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{partions/main}"
>
<div layout:fragment="contentOfSite">
    <div class="row mt-5" th:each="post : ${posty}">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary" th:text="#{post.new}"></strong>
            <h3 class="mb-0" th:text="${post.title}"></h3>
            <div class="mb-1 text-muted" th:text="${post.postDate}"></div>
            <p class="card-text mb-auto" th:text="${post.content}"></p>
            <p class="card-text mb-auto" th:text="${post.author.username}"></p>
            <a th:href="'posts/' + ${post.id}" th:text="#{post.continueReading}"></a>
        </div>
        <div class="col-auto d-none d-lg-block">

            <img class="bd-placeholder-img" th:src="@{'/images/post-' + ${post.id} + '.img'}" width="250" height="250" alt="">
        </div>
    </div>
</div>
</html>